@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");

//el center
@mixin center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//layout
.layout {
  padding: 40px 20px 218px;
  .layoutTitle {
    margin: 0 124.5px 40px;
    font-weight: bold;
    color: #1d1d1f;
    line-height: 1;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0;
  }
  .layoutTitle2 {
    margin: 0 179px 8px 0;
    font-weight: 500;
    line-height: 1;
    color: #5c5c62;
    font-size: 13px;
    letter-spacing: 0;
  }
}

//swiper
.swiper {
  width: 100%;
  height: 138px;
  overflow: hidden;
  background-color: #fff;
}

.swiper-slide {
  text-align: center;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

//popup
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 29, 31, 0.2);
  display: flex;
  align-items: flex-end;
  .popupContent {
    background-color: #fff;
    width: 100%;
    padding: 20px 0;
    border-radius: 16px 16px 0 0;
    box-shadow: 0 -3px 10px 0 rgba(0, 0, 0, 0.04);
  }
  .timePickerTitle {
    margin-top: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.2px;
    text-align: center;
    color: #343437;
  }
}

//btn
button {
  width: calc(100% - 40px);
  margin: 10px 20px 0;
  padding: 16px 147px;
  border-radius: 4px;
  border: solid 1px #8b8b91;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  line-height: 1;
  letter-spacing: normal;
  text-align: center;
  color: #343437;
  box-sizing: border-box;
  cursor: pointer;
  .btnIcon {
    svg {
      width: 20px;
      height: 20px;
    }
  }
}
.confirm {
  border: solid 1px #6e91f0;
  background-color: #6e91f0;
  font-weight: 500;
  color: #fff;
}

.menu {
  margin: 0 20px;
  > li {
    font-size: 18px;
    list-style: circle;
  }
}
